:root {
    --clr--header--bg-color: #222932;
    --clr--header--stick-color: #222932dc;
    --clr--header--shadow-color: #0000001a;
    --clr--header--logo-color: #c40d0d;
    --clr--header--list-color: #3b1512;
    --clr--body--bg-color: #111518;
    --clr--card-bg-color: #fff;
    --clr--card--btn-color: #1d1d1d;
    --clr--card--text-color: #1d1d1d;
    --clr--body-bg-1: #06c576;
    --clr--body-bg-2: #5c6485;
    --clr--header-bg-1: #A5FECB;
    --clr--header-bg-2: #0ca8eb;
    --clr--header-bg-3: #13045c;
}

.dark {
    --clr--header--bg-color: #e6e6e6;
    --clr--header--stick-color: #e6e6e696;
    --clr--header--logo-color: #166fb8;
    --clr--header--list-color: #070707;
    --clr--body--bg-color: #919fac;
    --clr--card-bg-color: #252525;
    --clr--card--btn-color: #8f8f8f;
    --clr--card--text-color: #fff;
    --clr--body-bg-1: #536976;
    --clr--body-bg-2: #292e49;
    --clr--header-bg-1: #62776b;
    --clr--header-bg-2: #276b88;
    --clr--header-bg-3: #473b86;
}

::selection {
    background: transparent;
}

* {
    box-sizing: border-box;
}

html {
    transition: all .3s ease;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #acb6e5;
    background: linear-gradient(to right, var(--clr--body-bg-1), var(--clr--body-bg-2));

}

ul li {
    list-style: none;
    transition: all .5s ease-in;

}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

// scroll top
.scroll__top {
    position: fixed;
    z-index: 555;
    top: 90%;
    left: 40px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #2a496481;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg, #18fdb1 ,#3170f8);
    display: flex;
    justify-content: center;
    align-items:center;
    display: none;
}

.dots-9 {
    height: 25px;
    aspect-ratio: 5;
    display: grid;
    opacity: 1;
    animation: d9-0 1s infinite linear;
}

.dots-9:before,
.dots-9:after {
    content: "";
    width: calc(140%/3);
    grid-area: 1/1;
    --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
    background:
        var(--_g) left,
        var(--_g) right;
    background-size: calc(300%/7) 100%;
    animation: d9-1 1s infinite linear;
}

.dots-9:after {
    margin-left: auto;
    --s: -1;
}

@keyframes d9-0 {

    0%,
    30% {
        transform: rotate(0)
    }

    50%,
    100% {
        transform: rotate(.5turn)
    }
}

@keyframes d9-1 {

    30%,
    70% {
        transform: translate(calc(var(--s, 1)*400%/14))
    }
}