.site-footer {
    margin: 40px 0 0 0;
    padding: 0;
    background: var(--clr--header--bg-color);
}

.footer {
    margin: 0;
    padding: 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-inner {
    width: 200px;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and(max-width:890px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and(max-width:690px) {
    .footer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}