// dark mode style =============
.dark_mod {
    margin: 0;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr--card-bg-color);
    border-radius: 50%;
}

.dark__img {
    cursor: pointer;
    transition: all .5s ease;
}

.img_root {
    transform: rotate(-180deg);
    // transform: translateY(100deg);
}

.site-header {
    margin: 0;
    padding: 0;
    background: var(--clr--header--bg-color);
    box-shadow: inset -5px -5px 10px #0e1014,
        inset 5px 5px 10px #364250;
}

.header {
    margin: 0;
    padding: 0px 0;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0px 20px;
    width: 100%;
    left: 0;
    z-index: 55;
    opacity: 0.9;
    background: var(--clr--stick--bg-color);
    // box-shadow: 0 4px 30px var(--clr--header--shadow-color);
    backdrop-filter: blur(20px);
    border: 1px solid var(--clr--header--bg-color);
    box-shadow: inset -5px -5px 10px var(--clr--header--shadow-color),
        inset 5px 5px 10px #364250;
}

.header__logo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr--header--logo-color);
    text-decoration: none;
    font-size: 32px;
    line-height: 28px;
    transition: all .4s ease;
}

.header__logo--img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.logo__youtube {
    margin: 0 4px 3px;
    padding: 0;
    // box-shadow: 0px 2px 8px 8px #555;
    border-radius: 50%;
    border: none;
    animation: logo 1s infinite;
    // transition: animation 1s ease-in-out;
}

.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list--item .list__item--link {
    margin: 0;
    padding: 30px 30px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 32px;
    font-size: 15px;
    color: var(--clr--header--list-color);
    text-decoration: none;
    transition: all .3s ease-in;
}

.header__list--item .list__item--link:hover {
    background-color: #1f455373;
    color: #fff;
}

.header__list--item .list__item--link:active {
    background-color: #1f4553;
    color: #fff;
}

.hamburger {
    width: 40px;
    height: 40px;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.line {
    margin: 0 auto;
    padding: 0;
    width: 35px;
    height: 4px;
    border-radius: 10px;
    display: block;
    background: #000;
}

//! modal style =======
.modal-mobile {
    position: fixed;
    top: 0;
    z-index: 3455;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    list-style: none;
    background: #000;
    // display: none;
    transform: translateY(-100%);
    transition: all .5s ease-in;
    // opacity: 0.8;
}

.mobile {
    top: 30px;
    right: 26px;
    height: 28px;
    transition: transform 2s ease;
}

.swipe {
    transition: all .5s ease-in;
    transform: translateY(0%);
}

.arrow {
    position: absolute;
    top: 35px;
    right: 5px;
    transition: all .2s ease-in;
}

.rotate {
    transform: rotate(180deg);

}

.list__inner {
    margin: 0;
    padding: 0;
    top: 90px;
    z-index: 555;
    list-style: 0;
    background: #000;
    display: none;
    border-top-left-radius: 30px;
    // border-bottom-left-radius:10px;
    border-bottom-right-radius: 30px;
    box-shadow: 4px 4px 6px 1px;
}

.inner__item .inner__item--link {
    margin: 0;
    padding: 10px 20px;
    width: 105px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    font-size: 14px;
    color: #e5e5e5;
    text-decoration: none;
    transition: all .3s ease-in;
}

.inner__item .inner__item--link:hover {
    background-color: #1f455373;
    color: #fff;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

// @media screen and(max-width:1320px) {
//     .header__list--item .list__item--link{
//         width: 25%;
//     }
// }
@media screen and (max-width:1295px) {
    .site-header {
        width: 100%;
    }

    .header__list {
        width: 50%;
    }

    .header__logo {
        font-size: 28px;
    }

    .header__list--item .list__item--link {
        line-height: 28px;
        font-size: 14px;
    }
}

@media screen and(max-width:1100px) {
    .header__list {
        width: 60%;
    }

}

@media screen and(max-width:950px) {
    .header__list {
        width: 65%;
    }

}

@media screen and(max-width:920px) {
    .header__list {
        display: none;
    }

    .header {
        padding: 30px 16px;
    }

    .hamburger {
        display: flex;
    }

    .header__list--item .list__item--link {
        padding: 30px 16px 30px 35px;
        line-height: 32px;
        font-size: 20px;
    }
}


@keyframes logo {
    0% {
        box-shadow: 0 0 0 0 #926363;
        transform: rotate(0);
    }

    15% {
        box-shadow: 0 0 2px 2px #926363;
        transform: rotate(0) scale(1);
    }

    30% {
        box-shadow: 0 0px 4px 4px #926363;
        transform: scale(1.05);

    }

    40% {
        box-shadow: 0 0px 6px 6px #926363;
        transform: scale(1.1);
    }

    50% {
        box-shadow: 0 0px 8px 10px #926363;
        transform: scale(1.2);
    }

    60% {
        box-shadow: 0 0 8px 10px #926363;
        transform: scale(1.2);
    }

    70% {
        box-shadow: 0 0 6px 6px #926363;
        transform: rotate(0) scale(1.15);
    }

    80% {
        box-shadow: 0 0px 4px 4px #926363;
        transform: scale(1.1);

    }

    90% {
        box-shadow: 0 0px 2px 2px #926363;
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0px 0px 0px #926363;
        transform: scale(1);
    }
}