.hero {
    margin: 0 auto;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    gap: 30px;
}

// .card{
//     height: 500px;
//     overflow: hidden;
// }
.card {
    width: 350px;
    // background: var(--clr--card-bg-color);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    opacity: 0.8;
    background: #dedede;
    box-shadow: inset -10px -10px 20px #595959,
        inset 10px 10px 20px #ffffff;
}

.card-img-top {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.card-text {
    height: 50px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // color: var(--clr--card--text-color);
    color: #000;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // color: var(--clr--card--text-color);
    color: #000;
}

.cate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // color: var(--clr--card--text-color);
    color: #000;
}

.date{
    // color: var(--clr--card--text-color);
    color: #000;
}
.rate{
    // color: var(--clr--card--text-color);
    color: #000;
}

.hero__form {
    // margin: 0 auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.form {
    width: 350px;
    background: var(--clr--card-bg-color);
}

.btn-search {
    background-color: var(--clr--card--btn-color);
    color: var(--clr--header--list-color);
}

.hero__right {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    width: 350px;
}

.blink {
    color: var(--clr--header--list-color) !important;
}

.label {
    color: var(--clr--card--text-color);
}

.card-footer {
    margin: 0px 0 0px 0;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

// lodaerrr spinner
.lds-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 100px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

// ! modal description ======= style
.modal-description {
    position: fixed;
    z-index: 444;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--clr--body--bg-color);
    // opacity: .9;
    animation: fade 0.3s ease-in-out;
}
@media screen and(max-width:1160px) {
    .modal-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
@keyframes fade {
    0% {
        transform: scale(0);
        opacity: 0.1;
    }
    10% {
        transform: scale(0.15);
        opacity: 0.1;
    }

    20% {
        transform: scale(.25);
        opacity: 0.2;
    }
    30% {
        transform: scale(.35);
        opacity: 0.3;
    }
    40% {
        transform: scale(.45);
        opacity: 0.4;
    }
    50% {
        transform: scale(.55);
        opacity: 0.5;
    }
    60% {
        transform: scale(.75);
        opacity: 0.7;
    }
    70% {
        transform: scale(.8);
        opacity: 0.8;
    }
    80% {
        transform: scale(.9);
        opacity: 0.9;
    }

    
    90% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.05);
    }
}

.modal-content {
    padding: 80px 20px 20px 20px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: flex-start;
    opacity: 1;
}

.modal-head {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    margin: 0;
    display: flex;
    justify-content: end;
}

.star-rate {
    cursor: pointer;
}

.mod-img {
    border-radius: 10px;
    object-fit: cover;
}

.modal-desc {
    width: 250px;
    // overflow-y: scroll;
    // height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px
}

.star_color {
    width: 200px;
}
// bookmark style 
.hero__bookmark{
    position: fixed;
    right: -280px;
    top: 94px;
    z-index: 55;
    width: 350px;
    height: 42px;
    background:#fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px 0px 10px 10px;
    cursor: pointer;
}

.open__saved{
    margin: 5px 20px;
}
.hero__bookmark:active{
    color: #dedede;
    opacity: .9;
}
.bookmark-show{
    border-radius: 10px 10px 0px 0px;
    height: 100vh;
    overflow-y: scroll;
    right: 0;
    animation: show 0.2s ease-in-out;
}

@keyframes show {
    0%{
        height: 100px;
        right: -280px;
    }
    25%{
        height: 250px;
        right: -210px;
    }
    50%{
        height: 350px;
        right: -140px;
    }
    75%{
        height: 500px;
        right: -70px;
    }
    100%{
        height: 100vh;
        right: -0px;
    }
}
// bookmark style end
// .star_color > path:hover{
//     fill: red;
// }
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// loader end
@media screen and (max-width:1265px) {
    .hero {
        gap: 20px;
        justify-content: space-around;
    }

    .form {
        width: 350px;
    }

    .card {
        width: 350px;
    }

    .card-img-top {
        width: 350px;
    }
}

@media screen and (max-width:1150px) {
    .form {
        max-width: 350px;
    }

    .card {
        max-width: 350px;
    }

    .card-img-top {
        max-width: 350px;
    }
}

@media screen and (max-width:1000px) {
    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero__form {
        width: 100%;
    }

    .form {
        max-width: 80% !important;
    }

    .card {
        max-width: 300px;
    }

    .card-img-top {
        max-width: 300px;
    }
}

@media screen and(max-width:930px) {
    .hero__form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:634px) {
    .hero {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .hero__form {
        margin: 0 auto;
        justify-content: center;
        width: 100%;
    }

    .form {
        // margin: 0 auto;
        max-width: 100%;
    }

    label input {
        width: 80%;
    }

    .hero__right {
        justify-content: center;
    }

    .card {
        width: 300px;
    }

    .card-img-top {
        max-width: 300px;
    }
}